#commandInput: {
   width: '70%';
   height: '40px';
   background-color: '#0D0208';
   color: '#00FF41';
   border: 'none';
   '::placeholder' : {
   color: '#008F11'
   };
   ':focus' : {
   outline: 'none !important';
   borderColor: '#0D0208';
   boxShadow: 'none'
 }
}